

.MenuContainer ul{
    list-style: none;
    display: inline-block;

}
.MenuContainer ul li{
    display: inline;
    margin-right: 10px;
    letter-spacing: 2px;
    font-size: 17px;
    cursor: pointer;
    font-weight: 500;
    
    
}

.MenuContainer ul li a{
    text-decoration: none;
    color: black;

}

/* .MenuContainer ul li a:hover{
    color: floralwhite;
    font-weight: bolder;
    background-color: red;
    padding: 5px;
    border-radius: 15px;

} */

.active{
    color: floralwhite;
    font-weight: bolder;
    background-color: rgb(252, 252, 252);
    padding: 5px;
    border-radius: 15px;
}