@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');

.contactContainer{
    text-align: center;
    background-image: url('https://e0.pxfuel.com/wallpapers/617/1001/desktop-wallpaper-office-work.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}

.ContactHeading{
    font-size: 25px;
    padding: 5px 5px 5px 25px;
    font-weight: bold;
    font-family:'Ga Maamli';
    text-align: center;
}

.contactBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.conIcon{
    height: 20px;
    margin-right: 20px;
}

.contactBody ul{
    list-style-type: none;
    display: inline-block;
    text-align: left;
}

.contactBody ul li{
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}

@media (min-width:250px) and (max-width:550px){
    .contactContainer{
        background-image: none;
    }
}